<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill">
    <mat-label>Fecha</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="fecha" required />
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="transactionForm.controls['fecha']?.hasError('required')">
      La fecha es requerida
    </mat-error>
  </mat-form-field>



  <mat-form-field appearance="fill">
    <mat-label>Tipo</mat-label>
    <input matInput formControlName="tipo" required />
    <mat-error *ngIf="transactionForm.controls['tipo']?.hasError('required')">
      El tipo es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>ID Producto</mat-label>
    <input matInput formControlName="productoId" required type="number" />
    <mat-error *ngIf="transactionForm.controls['productoId']?.hasError('required')">
      El ID de producto es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cantidad</mat-label>
    <input matInput formControlName="cantidad" required type="number" />
    <mat-error *ngIf="transactionForm.controls['cantidad']?.hasError('required')">
      La cantidad es requerida
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Precio Unitario</mat-label>
    <input matInput formControlName="precioUnitario" required type="number" />
    <mat-error *ngIf="transactionForm.controls['precioUnitario']?.hasError('required')">
      El precio unitario es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Precio Total</mat-label>
    <input matInput formControlName="precioTotal" required type="number" />
    <mat-error *ngIf="transactionForm.controls['precioTotal']?.hasError('required')">
      El precio total es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Detalle</mat-label>
    <input matInput formControlName="detalle" required />
    <mat-error *ngIf="transactionForm.controls['detalle']?.hasError('required')">
      El detalle es requerido
    </mat-error>
  </mat-form-field>

  <button mat-button color="primary" type="submit" [disabled]="transactionForm.invalid">
    {{ isEditMode ? 'Actualizar Transacción' : 'Crear Transacción' }}
  </button>
</form>
