<h3 style="text-align: center;">Lista de Transacciones</h3>
<button mat-raised-button color="primary" (click)="openTransaction()">Crear Transacción</button>

<!-- list-transactions.component.html -->
<table mat-table [dataSource]="transactions">
  <!-- Columna ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let transaction">{{ transaction.id }}</td>
  </ng-container>

  <!-- Columna Nombre -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let transaction">{{ transaction.nombre }}</td>
  </ng-container>

  <!-- Columna Precio -->
  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef>Precio</th>
    <td mat-cell *matCellDef="let transaction">{{ transaction.precio }}</td>
  </ng-container>

  <!-- Columna Categoría -->
  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef>Categoría</th>
    <td mat-cell *matCellDef="let transaction">{{ transaction.categoria }}</td>
  </ng-container>

  <!-- Columna Tipo -->
  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef>Tipo</th>
    <td mat-cell *matCellDef="let transaction">{{ transaction.tipo }}</td>
  </ng-container>

  <!-- Columna Cantidad -->
  <ng-container matColumnDef="cantidad">
    <th mat-header-cell *matHeaderCellDef>Cantidad</th>
    <td mat-cell *matCellDef="let transaction">{{ transaction.cantidad }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let transaction">
      <!-- Botón para editar la transacción -->
      <button mat-button color="primary" (click)="editTransaction(transaction)">
        Editar
      </button>
      <!-- Botón para eliminar la transacción -->
      <button mat-button color="warn" (click)="deleteTransaction(transaction.id)">
        Eliminar
      </button>
    </td>
  </ng-container>

  <!-- Fila de encabezado -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Fila de datos -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- Paginador -->
<mat-paginator
  [length]="dataSource?.data?.length"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  aria-label="Seleccionar página"
>
</mat-paginator>
