<h2 mat-dialog-title>Crear Producto</h2>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <!-- Campo Nombre -->
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required />
      <mat-error *ngIf="productForm.controls['nombre']?.hasError('required')">
        El nombre es requerido
      </mat-error>
    </mat-form-field>

    <!-- Campo Precio -->
    <mat-form-field appearance="fill">
      <mat-label>Precio</mat-label>
      <input matInput formControlName="precio" required type="number" />
      <mat-error *ngIf="productForm.controls['precio']?.hasError('required')">
        El precio es requerido
      </mat-error>
      <mat-error *ngIf="productForm.controls['precio']?.hasError('min')">
        El precio debe ser mayor a 0
      </mat-error>
    </mat-form-field>

    <!-- Campo Categoría -->
    <mat-form-field appearance="fill">
      <mat-label>Categoría</mat-label>
      <input matInput formControlName="categoria" required />
      <mat-error *ngIf="productForm.controls['categoria']?.hasError('required')">
        La categoría es requerida
      </mat-error>
    </mat-form-field>

    <!-- Campo Imagen -->
    <mat-form-field appearance="fill">
      <mat-label>Imagen</mat-label>
      <input matInput formControlName="imagen" required />
      <mat-error *ngIf="productForm.controls['imagen']?.hasError('required')">
        La categoría es requerida
      </mat-error>
    </mat-form-field>

    <!-- Campo Imagen -->
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput formControlName="descripcion" required />
      <mat-error *ngIf="productForm.controls['descripcion']?.hasError('required')">
        La categoría es requerida
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>


  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">
      <mat-icon>cancel</mat-icon> Cancelar
    </button>
    <button mat-button color="primary" type="submit">
      <mat-icon>check</mat-icon> Crear
    </button>
  </mat-dialog-actions>
</form>
