<!-- <p style="text-align: center">Lista de Productos</p> -->

<h3 style="text-align: center;">Lista de Productos</h3>
<button mat-raised-button color="primary" (click)="openProduct()">Crear Producto</button>


<!-- list-products.component.html -->
<table mat-table [dataSource]="products">
  <!-- Columna ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let product">{{ product.id }}</td>
  </ng-container>

  <!-- Columna Nombre -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let product">{{ product.nombre }}</td>
  </ng-container>

  <!-- Columna Precio -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Precio</th>
    <td mat-cell *matCellDef="let product">{{ product.precio }}</td>
  </ng-container>

  <!-- Columna Stock -->
  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef>Stock</th>
    <td mat-cell *matCellDef="let product">{{ product.stock }}</td>
  </ng-container>


  <!-- Columna Categoría -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Categoría</th>
    <td mat-cell *matCellDef="let product">{{ product.categoria }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let product">
      <!-- Botón para crear un producto -->

      <button mat-button color="primary" (click)="editProduct(product)">
        Editar
      </button>
       <button mat-button color="warn" (click)="deleteProduct(product.id)">Eliminar</button>
    </td>
  </ng-container>

  <!-- Fila de encabezado -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Fila de datos -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<!-- Paginador -->
<mat-paginator
  [length]="dataSource?.data?.length"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  aria-label="Seleccionar página"
>
</mat-paginator>
